<section class="content-header">
    <h1>
        Xuất báo cáo theo chức năng
    </h1>

</section>
<section class="content" style="min-height:500px">
    <div class="row">
        <div class="box box-info">
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" novalidate name="frmReport" role="form" ng-submit="Report()">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Chọn chức năng </label>
                        <div class="col-sm-6">
                            <select name="staff" class="form-control" ng-model="report.functionId" ng-options="option.Id as option.Name for option in functions">
                                <option value="">Tất cả</option>
                            </select>
                            <span ng-show="frmReport.staff.$invalid" class="text-danger">Cần nhập thông tin vào đây</span>
                            <input type="hidden" name="parentId" ng-model="report.functionId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Chọn thời gian</label>
                        <div class="col-sm-6">
                            <input date-range-picker required class="form-control date-picker" type="text" ng-model="report.date" name="name" />
                            <span ng-show="frmReport.name.$invalid" class="text-danger">Cần nhập thông tin vào đây</span>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Chọn huyện</label>
                        <div class="col-sm-6">
                            <ui-select them="select2"
                                    ng-model="report.districtId"                                     
                                    on-select="onSelectCallback($item, $model)">
                                        <ui-select-match placeholder="chọn or tìm kiếm huyện nào đó">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="item.ID as item in report.districts | filter: $select.search">
                                            <small>
                                                {{item.Name | highlight: $select.search}}
                                            </small>
                                            <!--<div ng-bind-html="item.Name | highlight: $select.search"></div>-->
                                        </ui-select-choices>  
                            </ui-select>
                            <!--<input type="hidden" name="parentId" ng-model="report.unitId" />-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Chọn bưu cục</label>
                        <div class="col-sm-6">
                            <ui-select ng-model="report.unitId">
                                <ui-select-match placeholder="chọn or tìm kiếm huyện nào đó">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="item.ID as item in report.units | filter: $select.search">
                                    <small>
                                        {{item.Name}}
                                    </small>
                                </ui-select-choices>
                            </ui-select>
                            <!--<input type="hidden" name="parentId" ng-model="report.unitId" />-->
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="col-sm-8 col-sm-offset-4">
                            <span class="col-sm-4"><button type="submit" class="btn bg-orange btn-flat" ng-disabled="frmReport.$invalid" style="opacity:1">Xuất báo cáo</button></span>
                            <span class="col-sm-4"><button type="reset" class="btn  btn-flat bg-olive " ng-click="Reset()">Làm mới</button></span>
                            
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer">
                    <button type="submit" class="btn btn-info " ng-disabled="frmTimeStatistic.$invalid">Lưu</button>
                </div>-->
                <!-- /.box-footer -->
            </form>
        </div>
    </div> <!-- /.row-->
   
</section>