<section class="content-header">
    <h1>Danh sách giao dịch TKBD</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active"><a ui-sref="districts">Danh sách giao dịch TKBD</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">

        <div class="box-body">

            <div class="row">
                <div class="col-md-3">
                    <button class="btn btn-success" ng-click="update()">Cập nhật</button>
                    <button class="btn btn-success" ui-sref="tkbd_import">Import File</button>                   
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 5%;vertical-align: middle" class="text-center text-bold"><input type="checkbox" name="all"  /></th>
                                <th style="width: 5%;vertical-align: middle" class="text-center text-bold">ID</th>
                                <th style="width: 15%;vertical-align: middle" class="text-center text-bold">Tháng</th>
                                <th style="width: 10%;vertical-align: middle" class="text-center text-bold">Tài khoản</th>
                                <th style="width: 10%;vertical-align: middle" class="text-center text-bold">Số tiền</th>
                                <th style="width: 15%;vertical-align: middle" class="text-center text-bold">DTTL</th>
                                <th style="width: 15%;vertical-align: middle" class="text-center text-bold">Ngày gửi/rút</th>
                                <th style="width: 10%;vertical-align: middle" class="text-center text-bold">Thao tác</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th><input type="text" class="form-control input-sm" ng-model="SmartSearch.ID" placeholder="Id"></th>
                                <th><input type="text" class="form-control input-sm" ng-model="SmartSearch.Month" placeholder="auto search"></th>
                                <th><input type="text" class="form-control input-sm" ng-model="SmartSearch.Account" placeholder="auto search"></th>
                                <th><input type="text" class="form-control input-sm" ng-model="SmartSearch.Amount" placeholder="auto search"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in tkbds|filter: SmartSearch">
                            <td style="vertical-align:middle" class="text-center"><input type="checkbox" name="all" ng-model="item.checked" /></td>
                            <td style="vertical-align:middle" class="text-center">{{item.ID}}</td>
                            <td>{{item.Month}}</td>
                            <td class="text-center">{{item.Account}}</td>
                            <td class="text-center">{{item.Amount}}</td>
                            <td class="text-center">{{item.DTTL}}</td>
                            <td sclass="text-center">{{item.TransactionDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-primary" ><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-sm btn-danger center" ><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <tfoot>
                            <tr>
                                <td colspan="6"><span class="pull-left">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount=totalCount||0}}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div ng-if="loading">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <i class="fa fa-spinner fa-3x fa-spin"></i> <label class="label label-primary"></label>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-Func="getTkbds(page)"></pager-directive>
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</section>